@charset "UTF-8";

@font-face
{
	font-family: 'Handlee';
	src: url('fonts/handlee-regular.ttf');
}

#myCanvas
{

	
	position: fixed;
	z-index: 50;
}

#myCanvas_2
{
	background-image: url("images/background2.png");
	background-size: contain;
	position: fixed;
	z-index: 40;
	opacity: 0.5;
	
}

#myCanvas_3
{
	position: fixed;
	z-index: 30;
	
}

#tick
{
	display: none;
	z-index: -1;
}
