@charset "UTF-8";

#myCanvas
{

	
	position: fixed;
	z-index: 99999;
	left: 10%;
}

#myCanvas_2
{
	background-image: url("background2.png");
	background-size: contain;
	position: fixed;
	z-index: 1;
	left: 10%;
	opacity: 0.5;
	
}

#myCanvas_3
{
	position: fixed;
	z-index: -1;
	left: 10%;
	
}
